
<div class="row">
    {{#each articles}}
        <div class="col-md-2">
            <article>
                <header>
                    <h2>{{this.title}}</h2>
                </header>
                <!--<main>-->
                    <!--<img src="/{{this.image1}}" alt="Photo">-->
                <!--</main>-->
                <footer>
                    <div>
                        <a class="btn btn-default" href="/article/details/{{this.id}}">Read more</a>
                    </div>
                </footer>
            </article>
        </div>
    {{/each}}
</div>