<div class="col-md-3 panel panel-footer">
    <div class="panel-heading">
        <p class="panel-title text-center">Видове дивеч</p>
    </div>
    <div class="panel-body">
        <ul class="nav">
            {{#each categories}}
                <li>
                    <a href="/calendar/{{inc @index}}" class="list-group-item text-center">{{title}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>

<div class="col-md-8">

    <div class="row center-block">
        <div class="table-responsive table-bordered">
            <table class="table">
                <thead><tr><th>Срок за ловуване</th></tr></thead>
                <tbody>
                <tr>
                    <th>Глухар - мъжки</th>
                    <td>от 15 април до 15 май</td>
                </tr>
                <!-- new row -->
                <tr>
                    <th>Фазани</th>
                    <td>от 1 октомври до 31 януари</td>
                </tr>
                <!-- new row -->
                <tr>
                    <th>Голяма белочела гъска</th>
                    <td>от 1 октомври до 31 януари</td>
                </tr>
                <!-- new row -->
                <tr>
                    <th>Диви патици обект на лов</th>
                    <td>от 1 октомври до 31 януари</td>
                </tr>
                <!-- new row -->
                <tr>
                    <th>Гривяк</th>
                    <td>от втората събота на август до втората неделя на февруари</td>
                </tr>
                <!-- new row -->
                <tr>
                    <th>Гургулица и пъдпъдък</th>
                    <td>от втората събота на август до 30 ноември</td>
                </tr>
                <!-- new row -->
                <tr>
                    <th>Гугутка</th>
                    <td>от втората събота на август до 31 декември</td>
                </tr>
                <!-- new row -->
                <tr>
                    <th>Горски бекас</th>
                    <td>от втората събота на август до последния ден на февруари</td>
                </tr>
                <!-- new row -->
                <tr>
                    <th>Яребици и кеклици</th>
                    <td>от 1 октомври до 30 ноември</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>