<div class="col-md-3 panel panel-footer">
    <div class="panel-heading">
        <p class="panel-title text-center">Видове дивеч</p>
    </div>
    <div class="panel-body">
        <ul class="nav">
            {{#each categories}}
                <li>
                    <a href="/category/articles/{{this.id}}?page=1"
                       class="list-group-item text-center">{{title}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="row col-md-8">
    <div class="carousel-holder">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="/images/home/2.JPG" alt="Image Not Found">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="/images/home/2.JPG" alt="Image Not Found">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="/images/home/2.JPG" alt="Image Not Found">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div>
        <p>
            Когато говорим за мъжки хобита, задължително трябва да обърнем внимание на едно от обичайните и най-често
            практикуваните – ловът.
            Обществото е доста разединено в мненията си относно ловуването и голяма част от хората го определят като
            жестоко и позорно.
        </p>
        <p>
            В пространството битуват няколко представи за мъжа с пушката и повечето са създадени на база впечатления на
            пишман ловци.
            Според много хора това е най-простият и евтин законов начин да притежаваш някакво огнестрелно оръжие у дома.
            Така някои обясняват и определено големия брой регистрирани ловци у нас.
            Сериозна част от тях обаче не са усещали никога тръпката от успешния улов.
        </p>
        <p>
            Има и мъже, които използват това хоби с доста компрометираща цел.
            Ловът се оказва перфектният повод да се измъкнеш от жена си, да вземеш ядене и пиене, да се събереш със
            съмишленици в гората или в полето.
            Така започва един безкраен купон с огромни количества алкохол, мъжки караници без женски капризи.
        </p>
        <p>
            Но извън тези представи живее и тръпката на истинския авджия. Още в древността ловът е бил средство за
            препитание.
            Това е заложено в кръвта на човека като средство за оцеляване и приспособяване от далечни времена. Днес
            трудно може да се погледне на лова от тази страна на нещата.
            На този етап той се е превърнал в спорт или бизнес, но в никакъв случай в средство за оцеляване.
        </p>
        <p>
            Колкото и шокиращо да звучи, истинският ловец трябва да изпитва удоволствие от това, което прави.
            Тази страст е нещо специално и това не се крие в самото убийство на животни, а по-скоро в допира с дивото и
            природата.
            Истинските ловци целят опазването и защитата на природата. Те ревниво я пазят, наслаждават й се и й се
            отдават напълно.
            Ходят през най-тежките зими да мъкнат чували с храна за дивеча. Правят хранилки, за да оцелеят птички и
            други видове.
            Пазят горите и защитените животни от бракониери и прочие. Това е в същността и душата на истинския ловец.
            Глупавите и озлобени пишман авджии създават погрешно впечатление за това хоби, което е и начин на живот
        </p>
        <p>
            Освен това множество специалисти заявяват, че ловът е полезен за природата – регулира видовете, елиминира
            старите животни и ги спасява от агония.
            Но както във всяко нещо, човек трябва да си разбира от работата. Трябва да се грижи за района, в който ще
            обстрелва. Трябва да познава територията си и дори животните в околността.
            Задължение е да пази бозайниците майки, които кърмят, младите животинчета, които не са за убиване.
        </p>
        <p>
            В закона за защита на животните, лова и риболова изрично е посочено, че не е престъпление, когато се спазват
            всички разпоредби.
            Така хиляди българи от малки и големи населени места всяка година се отправят към полето с оръжия на гърба,
            за да подгонят своята плячка. Не са изключение и множеството българи,
            потърсили препитание в Европа и САЩ, да се връщат всяка година за ловния сезон, защото биоразнообразието и
            природните
            богатства на България са незаменими.
        </p>
    </div>
</div>


