<div class="col-md-6">
    <div class=" body-content span=6 offset=2">
        <div class="well">
            <form class="form-horizontal" method="POST" action="/category/create">
                <fieldset>
                    <legend>Нова Категория</legend>
                </fieldset>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="category">Категория</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="category" placeholder="Категория" name="title" required >
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">

                        <a href="/" class="btn btn-default">Назад</a>

                        <button type="submit" class="btn btn-primary">Създай</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>